<!DOCTYPE html>
<html>
<head>
<title>freyr</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<meta charset="UTF-8">
<style>
body {
    background-color: rgb(24, 25, 26);
    color: white;
}
</style>
</head>
<body>

<img class="auto-refresh" src="{{url_for('static', filename='temperatures.png')}}">
<br>
<img class="auto-refresh" src="{{url_for('static', filename='humidities.png')}}">
<br>
<img class="auto-refresh" src="{{url_for('static', filename='pressures.png')}}">
<br>
<img class="auto-refresh" src="{{url_for('static', filename='uv.png')}}">
<br>
<img class="auto-refresh" src="{{url_for('static', filename='wind.png')}}">
<br>
<img class="auto-refresh" src="{{url_for('static', filename='gas.png')}}">
<br>
<img class="auto-refresh" src="{{url_for('static', filename='pi.png')}}">

<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<script>
    const socket = io();
    socket.on('new_images', () => {
        console.log("New images notification received");
        //console.log("Server message:", data.message);
        const timestamp = new Date().getTime(); // bust cache
        document.querySelectorAll('.auto-refresh').forEach((img) => {
        const src = img.src.split('?')[0];
        img.src = `${src}?t=${timestamp}`;
        });
        console.log("Images refreshed");
    });
</script>

</body>
</html>
