[Unit]
Description=Reefer Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/reefer.py
User=pi
Group=pi
Restart=always
WorkingDirectory=/home/pi

[Install]
WantedBy=multi-user.target
