# Rename this file 'config.py' and place next to your main 'freyr.py' script
LOOP_INTERVAL = 60 # seconds
LOG_PATH = './log/'
LOG_FILE = 'freyr.log'
DATABASE_PATH = './sql/'
DATABASE = 'freyr.db'
SATELLITE = 'http://brokkr' # Enter the name of your Pi Pico W here, can be IP, short hostname or FQDN
LAT = '0000.0000' # Enter your latitude here, negative numbers allowed
LON = '0000.0000' # Enter your longitude here, negative numbers allowed
STA_ALT = 100.0 # Enter the altitude of your sensor here in meters
OPENUVKEY = 'openuv-lmnopqrs' # Enter your OpenUV API key here
OWMKEY = 'abcdefg1234567' # Enter your OpenWeatherMap API key here
RRD_PATH = './rrd/'
